language: node_js
node_js:
- '12'
branches:
  only:
  - master
before_install:
- openssl aes-256-cbc -K $encrypted_f217180e22ee_key -iv $encrypted_f217180e22ee_iv
  -in .travis/id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- eval $(ssh-agent)
- ssh-add ~/.ssh/id_rsa
- cp .travis/ssh_config ~/.ssh/config
- git config --global user.name "r3inbowari"
- git config --global user.email "34787894@qq.com"
install:
- npm install hexo -g
- npm install yuque-hexo -g
- npm install
script:
- npm run deploy
cache:
  directories:
  - node_modules
